<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>welcome to events home</h1>
  <a href="/events/new">create a new event</a>

  <% categories.forEach(category => { %>
    <a href="/categories/<%= category.id %>"><%= category.categoryName %></a>
  <% }) %>

  <% events.forEach(event => { %>
    <div>
      <a href="/events/<%= event.id %>">Event Name : <%= event.title %></a>
      <p><%= event.summary %></p>
      <p>host name : <%= event.host %></p>
    </div>
  <% }) %>
</body>
</html>